@media screen and ( min-height: 768px ) {
    div.container-fluid {
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media screen and ( max-height: 767px ) {
    div.container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
}

div.side-container {
    border: solid #002d59 1px;
    padding-left: 0;
    padding-right: 0;
    color: #002d59;
}

div.side-container .head {
    width: 100%;
    background-color: #002d59;
    color: #ffffff;
    padding: 4px 3px 1px 10px;
}

a.button {
    background-color: #002d59;
    border-radius: 30px;
    color: #ffffff;
}

div.side-container .head h2 {
    font-size: 26px;
}

div.side-container .body {
    padding: 4px;
    margin-top: 10px;
}

div.side-container .body div.upload {
    height: auto;
}

div.side-container .body div.upload div.title {
    height: auto;
    margin-bottom: 10px;
}

div.side-container .body div.upload div.title h2 {
    font-size: 25px;
    color: #002d59;
}

div.side-container .body div.upload div.upload-image {
    width: 100%;
    height: auto;
}

div.side-container .body div.upload div.upload-image img {
    width: 100%;
    height: auto;
    border: solid #002d59 1px;
}

div.side-container .body div.upload div.upload-info {
    height: auto;
}

div.side-container .body div.upload div.upload-info h3 {
    font-size: 20px;
    color: #002d59;
    margin-bottom: 0;
}

div.side-container .body div.upload div.upload-info p {
    margin-bottom: 5px;
    color: #002d59;
}

div.side-container .body div.upload div.upload-info div.upload-drop {
    height: 55px;
    width: 100%;
    border: dashed #002d59 2px;
    border-radius: 15px;
    display: inline-block;
    line-height: 55px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

div.side-container .body div.upload div.upload-info div.upload-drop i {
    margin: auto;
    font-size: 25px;
    color: #002d59;
}

div.side-container span.errors {
    /*TODO*/
}

div.side-container .foot {
     width: 100%;
     background-color: #002d59;
     color: #ffffff;
}

div.side-container input[type="text"], div.side-container input[type="password"], div.modal input[type="text"], div.side-container select {
    border-radius: 30px;
    border: solid 2px #002d59;
}

div.side-container textarea {
    border-radius: 15px;
    border: solid 2px #002d59;
}

div.side-container div.form-group {
    margin-bottom: 5px;
}

div.side-container div.form-group label {
    margin-bottom: 3px;
}

div.side-container div.form-group span.select2-container span.select2-selection {
    border-radius: 30px;
    border: solid 2px #002d59;
    padding-left: 6px;
    padding-right: 6px;
}

div.side-container div.form-group span.select2-container span.select2-selection li.select2-selection__choice {
    border-radius: 15px;
    border: solid 1px #002d59;
    background-color: #002d59 ;
    color: #ffffff;
}

div.side-container div.form-group a.btn-primary, button.btn-custom {
    border-radius: 17px;
    border: solid 1px #002d59;
    background-color: #002d59 ;
    color: #ffffff;
    text-align: center;
}

a.btn-custom {
    padding: 8px;
    border-radius: 17px;
    border: solid 1px #002d59;
    background-color: #002d59 ;
    color: #ffffff;
    text-align: center;
}

div.modal button.btn-primary {
    border: solid 1px #002d59;
    background-color: #002d59 ;
    color: #ffffff;
}

div.side-container div.form-group span.select2-container span.select2-selection span.select2-selection__choice__remove {
    color: #ffffff;
}


div.side-container .foot a {
    width: 100%;
    color: #ffffff;
    background: none;
    height: auto;
    padding: 0;
    font-size: 15px;
    margin: 2px 0;
    text-decoration: none;
    border: none;
}

div.side-container .foot button {
    width: 100%;
    color: #ffffff;
    background: none;
    height: auto;
    padding: 0;
    font-size: 15px;
    margin: 2px 0;
    text-decoration: none;
    border: none;
}

div.offre-element {
    background-color: #ffffff;
    color: #002d59;
    padding-left: 0;
    padding-right: 0;
}

div.offre-element img {
    height: 66px;
    width: 66px;
    border: solid #002d59 1px;
}

div.offre-element div.titles {
    margin: 0;
    padding-top: 3px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

div.offre-element h3 {
    font-size: 22px;
    margin-bottom: 0;
}

div.offre-element p {
    margin-bottom: 0;
}

div.offre-element p.type-contrat {
    font-weight: normal;
}

div.offre-element p.more-infos {
    font-weight: lighter;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.custom-file-input:hover::before {
    border-color: black;
}
.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

div.img-icon img{
    width: 96px;
    height: 96px;
    border: solid #002d59 1px;
}

div.profil-container {
    width: 100%;
    border: solid #002d59 1px;
    height: 175px;
    color: #002d59;
}

div.profil-container div.img-profil img {
    height: 100%;
    width: auto;
    border-right: solid #002d59 1px;
}

div.profil-container div.color-block {
    height: 100%;
    width: 40px;
    background-color: #002d59;
}

div.profil-container p {
    margin-top: 0;
    margin-bottom: 0;
}

div.profil-container h1 {
    margin-top: 0;
    margin-bottom: 0;
}

div.vertical-sep {
    border-left: solid #002d59 1px;
    width: 1px;
    height: 60px;
    margin-top: auto;
    margin-bottom: auto;
}

div.horizontal-sep {
    border-bottom: solid #002d59 1px;
    height: 1px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

div.classement-element p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

div.classement-element h4 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

a.big-btn {
    background-color: #002d59;
    width: 100%;
    height: 150px;
    color: #ffffff;
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
}

body.home-back, html.home-back {
    height: 100%;
}

body.home-back {
    background-color: transparent;
}

html.home-back {
    /* The image used */
    background-image: url("https://scontent-cdg2-1.xx.fbcdn.net/v/t1.15752-9/83880565_1803136813154660_2863168595586711552_n.png?_nc_cat=110&_nc_oc=AQnteFCaPfl64L15ND9DYXvocybMMWMnlpSkdyDxjqP0nS9q33FiTiZqOuyh1bBk168&_nc_ht=scontent-cdg2-1.xx&oh=32e9a3e23691b1912297799c74c07fa7&oe=5ECFFC34");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img.without-border {
    border: none !important;
}

#mainNav {
    background-color: #002d59;
}