{% extends "@FOSUser/layout.html.twig" %}
{% block title %} ALCO - Ajouter un utilisateur {% endblock %}
{% block body %}
    <h2 class="titre_principal">Ajouter un utilisateur</h2>
    <div id="content">
        {% block fos_user_content %}
            {% include "@FOSUser/Registration/register_content.html.twig" %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}