<h1> Add new Studant</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 form-group">
            <h2>Cree un nouvaeu Etudaint</h2>
            {{ form(form) }}


        </div>
    </div>
</div>