{% extends 'layout.html.twig' %}
{% block body %}
<h1> Add new company</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 form-group">
            <h2>Cree une nouvelle  Entreprise</h2>
            {{ form(form) }}


        </div>
    </div>
</div>
{% endblock%}