{% extends "@FOSUser/layout.html.twig" %}
{% block title %} ALCO - Modifier le mot de passe {% endblock %}
{% block body %}
    <h2 class="titre_principal">Modifier le mot de passe</h2>
    <div id="content">
        {% block fos_user_content %}
            {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}