{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} {% endblock %}
{% block body %}

    <div class="col-md-6 col-12 form-group side-container">
        {% include 'OffreBundle:Candidatures:_form.html.twig' with {'title_block' : "Candidater"} %}
    </div>

{% endblock %}